@font-face
  font-family: 'logo'
  src: url('./maozedong.ttf') format('truetype')

.header
  position: relative
  color: #fff
  height: 50px
.logo, .nav
  position: absolute
.nav
  top: 0
  left: 180px
  display: flex
  li
    float: left
    height: 50px
  a
    display: block
    height: 100%
    padding: 0 11px
    font-size: 16px
    line-height: 50px
    color: #fff
    -webkit-transition: color .5s, background-color .5s
    transition: color .5s, background-color .5s
    &:hover
      text-decoration: none
    &.navActive
      background-color: #58d157
      text-decoration: none
  span
    margin-left: 4px
    vertical-align: 2px
.logo
  top: 0
  left: 0
  width: 180px
  height: 100%
  text-align: center
  font: 22px 'logo'
  line-height: 50px
