.header
  padding: 0 20px
  height: auto
.nav, .linkItem
  height: 100%
.linkItem
  float: left
  display: block
  padding: 0 10px
  font-size: 14px
  line-height: 40px
  text-decoration: none !important
  transition: background-color .3s
.navActive
  background-color: #fff
.home
  font-size: 18px
  $basic-color: #f759ab
  path
    &:nth-child(1)
      fill: $basic-color * 2.6
    &:nth-child(2)
      fill: $basic-color