- var imports = require('./imports');

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='renderer' content='webkit')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title 微博超话自动签到工具（v0.1.4）
  body
    div.vue-app#vue-app(data-app)
    script(type='text/javascript' src=require('./weibo-pattlock'))
    if htmlWebpackPlugin.options.mode === 'development'
      script(type='text/javascript' src=imports.dll)