doctype html
html
  head
    meta(charset='utf-8')
    meta(name='renderer' content='webkit')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title 微博超话自动签到工具（v0.1.1）
  body
    div.vue-app#vue-app(data-app)
    script(type='text/javascript' src=require('js-base64/base64.min'))
    script(type='text/javascript' src=require('./weibo-pattlock'))
    if htmlWebpackPlugin.options.NODE_ENV === 'development'
      script(type='text/javascript' src=require('../.dll/dll'))